openapi: 3.1.0
info:
  title: ScreenshotOne Account Animations API
  description: Minimal OpenAPI description of the ScreenshotOne screenshot rendering API.
  version: 1.0.0
  x-generated-from: https://screenshotone.com/docs/
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://api.screenshotone.com
  description: ScreenshotOne production API
security:
- accessKeyQuery: []
- accessKeyHeader: []
tags:
- name: Animations
paths:
  /animate:
    get:
      tags:
      - Animations
      summary: Render an animated screenshot
      description: Captures an animated rendering of a URL (scroll, navigation, default scenarios).
      parameters:
      - $ref: '#/components/parameters/Url'
      - name: scenario
        in: query
        description: Animation scenario (default, scroll, navigation)
        schema:
          type: string
          enum:
          - default
          - scroll
          - navigation
      responses:
        '200':
          description: Rendered animation
          content:
            video/mp4:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Animations
      summary: Render an animated screenshot (POST)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreenshotOptions'
      responses:
        '200':
          description: Rendered animation
          content:
            video/mp4:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
components:
  schemas:
    ScreenshotOptions:
      type: object
      description: Generic ScreenshotOne options envelope.
      properties:
        url:
          type: string
          format: uri
        html:
          type: string
        markdown:
          type: string
        format:
          type: string
        full_page:
          type: boolean
        viewport_width:
          type: integer
        viewport_height:
          type: integer
        access_key:
          type: string
      additionalProperties: true
    Error:
      type: object
      description: Generic error response.
      properties:
        error_code:
          type: string
        error_message:
          type: string
      additionalProperties: true
  parameters:
    Url:
      name: url
      in: query
      description: The URL of the website to screenshot.
      schema:
        type: string
        format: uri
  securitySchemes:
    accessKeyQuery:
      type: apiKey
      in: query
      name: access_key
      description: API access key passed as a query string parameter.
    accessKeyHeader:
      type: apiKey
      in: header
      name: X-Access-Key
      description: API access key passed via the X-Access-Key request header.
